@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&family=DotGothic16&family=Hachi+Maru+Pop&family=Kaisei+Tokumin:wght@800&family=Kiwi+Maru:wght@300;500&display=swap');

body {
  height: 100%;
}

body{
  font-family: 'Yusei Magic', sans-serif;
  background-color: #ececec;
}

.title {
  margin-bottom: .5rem !important;
  margin-left: .5rem;
}

.section {
  padding: 10px 10px 0;
  background-color: #dfdfdf;
}

.notification {
  background-color: #fafafa;
  padding: 0.5rem;
}

h1 {
  font-family: 'Kiwi Maru', serif;
  font-weight: 300 !important;
  padding-top: 5px;
}

.button, .input, .select select{
  border-radius: 8px;
  color: #516274;
}

.is-small.input, .is-small.textarea {
  border-radius: 4px;
}

#jimakuController {
  margin-top: 2px;
}

.jimaku-area {
  overflow: hidden;
  width: 100%;
  height: 150px;
  border-radius: 0px;
}

.jimakuCtrl {
  border: none; 
  background-color: transparent; 
  padding-left: 15px; 
  padding-right: 4px;
}

.next {
  border: none; 
  border-radius: 0px;
  height: 2rem;
  font-family: 'Kiwi Maru', serif;
}

/****** TextArea ******/

#lyric {
  resize: none;
}

.paper {
  position: relative;
  width: 100%;
  height: 540px;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  overflow: hidden;
}
.paper:before {
  content: '';
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 60px;
  background: radial-gradient(#bebebe 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #586f88;
  box-sizing: border-box;
}

.paper-content {
  position: absolute;
  top: 30px; right: 0; bottom: 30px; left: 60px;
  background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
  background-size: 30px 30px;
}

.paper-content textarea {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  line-height: 30px;
  padding: 0 10px;
  border: 0;
  outline: 0;
  background: transparent;
  color: rgba(68, 68, 68);
  font-family: 'Yusei Magic', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  z-index: 1;
}

/****** Repertory ******/

.banner {
  width: 100%;
  padding: 0px !important;
}


.banner>img {
  border-radius: 2px;
}

.repertory>div, .settings{
  flex-grow: 0;
  font-family: 'Kiwi Maru', serif;
  margin-bottom: .75rem;
}

.repertory>div:last-child{
  margin-bottom: 0;
}

.song{
  width: 100%; 
  margin-bottom: 5px;
}

.songCtrl {
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5px !important;
}
.songCtrl:last-child {
  margin-right: 0px;
}

.repertory>div>.button:last-child {
  margin-bottom: 0;
}

.songs {
  width: 100%; height: 265px; overflow: auto;
}

/****** lyric ******/

.jimaku-0{
  -webkit-text-stroke-width: 1.3vw;
}
.jimaku-1{
  position: absolute;
  color: #fff;
  -webkit-text-stroke-width: 0.8vw;
  z-index: 20;
}
.jimaku-2{
  position: absolute;
  -webkit-text-stroke-width: 0vw;
  z-index: 30;
}

/****** Anim Check ******/

.switch[type=checkbox]+label::before{
  top:5px !important;
}

.switch[type=checkbox]+label::after{
  top:9px !important;
}

/** scrollbar **/

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
border-radius: 10px;
box-shadow: inset 0 0 5px rgba(136, 136, 136, 0.1);
}
::-webkit-scrollbar-thumb {
background-color: rgba(145, 145, 145, 0.5);
border-radius: 10px;
box-shadow:0 0 0 1px rgba(255, 255, 255, 0.1);
}

/** footer **/
.footer {
  font-family: 'Kiwi Maru', serif;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: .75rem;
}

/** modal **/

.modal_wrap input{
  display: none;
}

.modal_overlay{
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.modal_trigger{
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal_content{
  align-self: center;
  width: 60%;
  max-width: 800px;
  padding: 30px 30px 15px;
  box-sizing: border-box;
  background: #fff;
  line-height: 1.4em;
  transform: scale(1.2);
  transition: 0.5s;
}

.close_button{
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}

.modal_wrap input:checked ~ .modal_overlay{
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.modal_wrap input:checked ~ .modal_overlay .modal_content{
  transform: scale(1);
}